node_modules/
.pnpm-debug.log*
.yarn-debug.log*
.yarn-error.log*
pnpm-lock.yaml
package-lock.json
yarn.lock

.next/
out/
build/
dist/

.vercel
.output
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
.vscode/
*.swp
*.swo
*~

*.log
logs/

coverage/
.nyc_output/
