root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.py]
max_line_length = 100
quote_type = double

[*.{js,ts,json,yml,yaml}]
indent_size = 2

[*.{md,rst}]
trim_trailing_whitespace = false

[*.{sh,bash}]
end_of_line = lf

[Makefile]
indent_style = tab

[*.bat]
end_of_line = crlf

[Dockerfile]
indent_size = 4

[*.toml]
indent_size = 2

[*.ini]
indent_size = 4
