node_modules
dist
build
coverage
.github
.husky
.vscode
.idea
*.md
Dockerfile
docker-compose.yml
.dockerignore
.gitignore
.eslintrc.js
.prettierrc.json
.prettierignore
tsconfig.json
tsconfig.build.json
jest.config.js
