lombok.addLombokGeneratedAnnotation = true
lombok.anyConstructor.addConstructorProperties = true
lombok.log.fieldName = LOGGER
lombok.accessors.chain = false
lombok.accessors.fluent = false
lombok.equalsAndHashCode.callSuper = call
lombok.toString.callSuper = call
lombok.builder.className = Builder
lombok.singular.useGuava = false
lombok.value.flagUsage = WARNING
lombok.data.flagUsage = WARNING
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.context.annotation.Lazy
