pandas==2.1.4
numpy==1.26.3
sqlalchemy==2.0.25
pymysql==1.1.0
influxdb-client==1.39.0
jupyter==1.0.0
matplotlib==3.8.2
seaborn==0.13.1
scikit-learn==1.4.0
python-dateutil==2.8.2
pytz==2023.3.post1
pyarrow==14.0.2
fastparquet==2023.10.1
celery==5.3.6
redis==5.0.1
click==8.1.7
python-dotenv==1.0.0
requests==2.31.0
