<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.company.dbstudio" level="DEBUG"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="org.testfx" level="WARN"/>
    <logger name="org.testcontainers" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
