<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.designsystem.mapper.ComponentTokenUsageMapper">

    <select id="selectByTokenId" resultType="com.designsystem.entity.ComponentTokenUsage">
        SELECT * FROM ds_component_token_usage
        WHERE token_id = #{tokenId} AND deleted = 0
    </select>

    <select id="selectByComponentId" resultType="com.designsystem.entity.ComponentTokenUsage">
        SELECT * FROM ds_component_token_usage
        WHERE component_id = #{componentId} AND deleted = 0
    </select>

    <delete id="deleteByTokenIdAndComponentId">
        DELETE FROM ds_component_token_usage
        WHERE token_id = #{tokenId} AND component_id = #{componentId}
    </delete>

</mapper>
